
@{
    ViewBag.Title = "ListBook";
}
!
<!DOCTYPE html>
<html>
<head>
    <title>
        ListBook
    </title>
</head>
<body>
    <div>
        <ul>
            @foreach (var item in ViewBag.ListBook)
            {
                <li>
                    <b>
                        @item
                    </b>
                </li>
            }
            <li>

            </li>
        </ul>
    </div>
</body>
</html>

